body {
    background-image: url(https://i.imgur.com/EDfPJ2i.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#hello {
    background-color: #FFFFFF;
    background-size: cover;
    background-attachment: fixed;
    max-width: 512px;
    min-height: 130px;
    max-height: 155px;
    margin-top: calc(50vh - 100px);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 11px #00000047;
    transition: all 0.1s linear;
    text-align: center;
}

#hello h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2em;
    color: #ffffff;
    text-shadow: 0 1px 4px #0000007a;
}

#hello a {
    font-size: 1em;
    text-decoration-line: none;
    padding: .5em 1.5em;
    font-weight: 700;
    border-radius: .28571rem;
    background: #ffffffd4;
    color: #4e4e4e;
}

#hello a:hover {
    background: #ffffff;
    color: #525252;
}

#hello a:active {
    background: #e8e8e8;
}