doctype html
html
    head
        title BlurBG.js
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='demo.css',rel='stylesheet')
        script(src='BlurBG.js')
    body
        script BlurBG("//i.imgur.com/ObkQyqf.jpg")
        #hello.BlurBG
            h3 尼好，歡迎來到 BlurBG.js
