doctype html
html
    head
        title BlurBG.js
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='//cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css',rel='stylesheet')
        link(href='//xiaoan.tocas-ui.com/ts.xiaoan.min.css',rel='stylesheet')
        link(href='demo.css',rel='stylesheet')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='BlurBG.js')
    body
        script BlurBG("//i.imgur.com/ObkQyqf.jpg")
        #hello.BlurBG
            h3.ts.header 尼好，歡迎來到 BlurBG.js
